.header--text {
    font-family: $playfair;
    font-size: $xx-large;
    font-style: italic;
    text-align: center;
    color: $white;
    padding: 8rem auto;
    /* margin-top: 96px; */
}

.fa-angle-double-down {
    padding-top: 10rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: $white;
}
