body {
    font-family: 'Roboto', sans-serif;
    background: url("/assets/img/ALMA_25.jpg") no-repeat center center fixed;
    color:lightsteelblue;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    
}

h1{
    text-align: center;
    margin-top: 10px;
}

h2, h3{
    text-align:left;
    margin-left: 20px;
}

.container{
    width: 95%;
    margin: 40px;
    margin-bottom: 100px;
}

/* Pie de pagina */
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 8px;
    text-align: center;
}